/*AMAZON GREEN - #507255
Middle Green - #488B49
Greeen Pantone - #4AAD52
Bud green - #6EB257
June Bud = #C5E063*/

body {
	margin: 0;
	padding-top: 48px;
}

header {
	width: 100%;
	height: 48px;
	position: fixed;
	top: 0;
}

.h1-wrapper {
	padding: 0.33em;
}

h1 {
	margin-block-start: 0em;
  margin-block-end: 0em;
}

.primary-color-0 {
	background: #507255;
}

.primary-color-1 {
	background: #488B49;
}

.primary-color-2 {
	background: #4AAD52;
}

.primary-color-3 {
	background: #6EB257;
}

.primary-color-4 {
	background: #6EB257;
}


.txt-bg {
	background: #fff;
	color: #507255;
}

#C5E063

.light-text {
	color: #fff;
}

.title-image-wrapper {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

.title-image {
	width: 100%;
}

.title-image-labels {
	padding: 0.5em;
}